# 1. Секретные ключи (САМОЕ ВАЖНОЕ)
.env
.env.local

# 2. Виртуальное окружение (папка с библиотеками весит 100мб, она не нужна в Git)
venv/
.venv/
env/

# 3. Мусор Python (скомпилированные файлы)
__pycache__/
*.pyc
*.pyo

# 4. База данных (если вдруг создастся локальная)
db.sqlite3

# 5. Медиа файлы (картинки, которые загружают пользователи)
media/

# 6. Настройки MacOS (мусорные файлы мака)
.DS_Store

# 7. Настройки редакторов кода
.idea/
.vscode/